.u-section-1 .u-sheet-1 {
  min-height: 1356px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-1 .u-image-1 {
  width: 398px;
  height: 296px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-1 .u-image-2 {
  width: 291px;
  height: 244px;
  margin: 37px auto 38px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 253px;
  }
}